
defaultRules:
  create: true
prometheus:
  prometheusSpec:
    retention: 15d
    scrapeInterval: 30s
    evaluationInterval: 30s
    serviceMonitorSelector: {}
    podMonitorSelector: {}
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
      limits:
        cpu: 1
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
alertmanager:
  enabled: true
  alertmanagerSpec:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
nodeExporter:
  enabled: true
kubeStateMetrics:
  enabled: true
grafana:
  enabled: true
  adminUser: "admin"
  adminPassword: "admin"  
  defaultDashboardsEnabled: true
  service:
    type: LoadBalancer
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  ingress:
    enabled: false
    annotations: {}
    ingressClassName: ""   
    hosts:
      - grafana.multithread.com
    tls: []
kubeApiServer:
  enabled: true

kubeControllerManager:
  enabled: true

kubeScheduler:
  enabled: true

kubeProxy:
  enabled: true

coreDns:
  enabled: true

kubeEtcd:
  enabled: true

