apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd             
spec:
  project: default
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: "65.2.0"
      helm:
        valueFiles:
          - $values/apps/observability/values/prometheus-values.yaml
    - repoURL: https://github.com/KeyssonG/Observabilidade-grafana.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: observability      
  syncPolicy:
    automated:
      prune: true                
      selfHeal: true              
    syncOptions:
      - CreateNamespace=true      
